@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
@ivory: #FFFFDA;
@ltivory: #FFFFF4;
@btn: rgb(154,18,179);
@btnborder: #81009A;
@font1: 'Open Sans', sans-serif;

.input-lg {
  input {
    width: 20em;
    height: 1.5em;
    border: 2px solid  #81009A;   
    padding-left: 1%;
    padding-bottom: 0.2em;
    display: block;
    margin-bottom: 2%;
    color: @btnborder;

    &:focus {
      background-color: @ivory;
    }
  }
}

.input-sm {
  input {
    width: 14.5em;
    height: 1.5em;
    border: 2px solid  #81009A;   
    padding-left: 1%;
    padding-bottom: 0.2em;
    display: block;
    margin-bottom: 2%;
    color: @btnborder;

    &:focus {
      background-color: @ivory;
    }
  }
}

.input-placeholder {
  input[type="text"]::-webkit-input-placeholder {
    color: @btnborder;
    font-family: @font1; 
  }
}


body, html {
  height: 100%;
  width: 100%;
  font-family: @font1;
  background-color: @ltivory;
  margin: 0;
}

header {	
  background-color: @ivory;
	height: 11%;
	width: 100%;
  padding: 0 2%;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #fde3a7;
}

.clearfix {
  display: block;
  zoom: 1;

  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.test {
  color: white;
}

.list {
  margin: 5px;
  z-index: 2;
  display: inline-block;
  padding: 10px;
  min-height: 70px;
  max-height: 80%;
  width: 200px;
  min-width: 200px;
  background-color: @nice-blue - #111;
  border-radius: 5px;
  
  .cardContainer {
    overflow: hidden;
  }
    &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.list-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background: @nice-blue + #333;
  margin-bottom: 5px;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  z-index: 2;
  margin: 5px;
  padding: 10px;
  height: 50px;
  min-height: 50px;
  width: 100px;
  min-width: 100px;
  background-color: @nice-blue;
  border-radius: 5px;
  &.grab {
    cursor: -webkit-grab;
  }
  &.grabbing {
    cursor: -webkit-grabbing;
  }
}

.outline {
  outline: 1px solid red;
}

.page {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 10px;
  align-items: flex-start;
  .list {
    align-self: flex-start;
  }
}

//==================================

h1 {
  margin: 0;
  padding: 0;
  width: 10%;
  height: 5%;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -0.18em;
  font-family: @font1;

  span:nth-child(1) {
    color: rgba(242,38,19, 0.82);
  }
  span:nth-child(2) {
    color: rgba(219,10,91, 0.82);
  }
  span:nth-child(3) {
    color: rgba(102,51,153, 0.82);
  }
  span:nth-child(4) {
    color: rgba(154,18,179, 0.82);
  }
  span:nth-child(5) {
    color: rgba(156, 39, 96, 0.85);
  }
  span:nth-child(6) {
    color: rgba(233, 30, 99, 0.85);
  }
  span:nth-child(7) {
    color: rgba(229, 28, 35, 0.85);
  }
}

.auth {
  margin: 5% 35%;  
  .input-lg;
  .input-placeholder;

  .login {
    width: 5em;
    height: 2.1em;
    background-color: rgb(154,18,179);
    color: @ltivory;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.1em;
    border: 2px solid #81009A;
    display: block;
  }
}



.page {
  margin: 5% 5%;  
  .input-sm; 
  .input-placeholder;
}






//====