body,
html {
  height: 100%;
  width: 100%;
}
header {
  background-color: #6c94be;
  height: 50px;
  width: 100%;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.test {
  color: white;
}
.list {
  margin: 5px;
  z-index: 2;
  display: inline-block;
  padding: 10px;
  min-height: 70px;
  max-height: 80%;
  width: 200px;
  min-width: 200px;
  background-color: #4a729c;
  border-radius: 5px;
}
.list .cardContainer {
  overflow: hidden;
}
.list:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.list-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background: #8eb6e0;
  margin-bottom: 5px;
}
.cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  z-index: 2;
  margin: 5px;
  padding: 10px;
  height: 50px;
  min-height: 50px;
  width: 100px;
  min-width: 100px;
  background-color: #5B83AD;
  border-radius: 5px;
}
.card.grab {
  cursor: -webkit-grab;
}
.card.grabbing {
  cursor: -webkit-grabbing;
}
.outline {
  outline: 1px solid red;
}
.page {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 10px;
  align-items: flex-start;
}
.page .list {
  align-self: flex-start;
}
